{% extends "normal/base.html" %}

{% load staticfiles %}
{% block title %}test{% endblock %}

{% block content %}
{% include "normal/test.html" %}
{% endblock %}

{% block chosen_js_file %}
<link href="{% static 'css/test.css' %}" rel="stylesheet"> 
<script type="text/javascript" src="{% static 'js/angular-controller/jquery.test.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular-controller/Sound2.js' %}"></script>
<script type="text/javascript" src="{% static 'js/libs/angular/angular-soundmanager2-change.js' %}"></script>
{% endblock %}
