<div class="row clearfix">
    <div class="col-md-2 col-md-push-1 column">
        {% for conval in con1 %}
            <img alt="{{ conval }} image" src="" class="img-thumbnail" /> 
            <br />
        {% endfor %}
        {% for conval in con2 %}
            <span class="label label-success">  {{ conval }} </span>
            <br />
        {% endfor %}
        </div>
        <div class="col-md-8 column">
            <h3 class="text-center text-primary">
                <ul>
                    <li>{{ paratitle }}</li>
                </ul>
            </h3>
            <p class="text-center">
                {{ paragraph1 }} 
            </p>
        </div>
        <div class="col-md-2 col-md-pull-1 column">
            <div class="list-group">
                <a href="#" class="list-group-item active"> {{ con3val }} </a>
                <div class="list-group-item">
                    {% for conval1,conval2 in con4 %}
                    <h4 class="list-group-item-heading">
                        {{ conval1 }} 
                    </h4>
                    <p class="list-group-item-text">
                        {{ conval2 }}
                    </p>
                    <div style="border-bottom:#000 1px solid ; color="red"; overflow:hidden"></div>
                    {% endfor %}
                </div>
                <a class="list-group-item active"><span class="badge">  1 </span> help1 </a>
            </div>
        </div>
</div>

