<div class="col-md-12 column">
    <h3>BGM:</h3>
</div>    
<div ng-controller="PlayerController" class="col-md-12 column">
    <audio media-player="audio" data-playlist="playlist"></audio>
    

    <div class="col-md-4 column">
    
        <div class="col-md-11 column">
            <div ng-controller="user_ctrl" class="col-md-12 column">
                <div class="col-md-12 column">
                    <span>change music list via user:</span>
                    <select class="form-control" ng-model="owner" ng-change="ownerchange(owner)" ng-options="i.username for i in users"> 
                        <option value="">change music list</option>
                    </select>
                </div>
            </div>

            <img ng-src="((playlist[audio.currentTrack-1].img))" class="img-thumbnail" width="100" height="100">
            <span class="glyphicon glyphicon-music"></span><span>((playlist[audio.currentTrack-1].songname.split("/")[5].split(".")[0]))</span>
            <br /><span class="glyphicon glyphicon-time"></span><span>((audio.currentTime|MinSecFilter))&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="glyphicon glyphicon-volume-down"></span><span id="js-display-change">100</span>
            <br/>
            <div class="row col-sm-12 column">
                <div class="slider progress">
                    <div class="slider-bar progress-bar" role="progressbar" style="height:18px;width:((audio.currentTime/audio.duration*100))%;">
                        <span>((audio.currentTime/audio.duration*100|number:0))% </span>
                    </div>
                    <div class="slider-bar progress-bar progress-bar-info" style="height:18px;width: ((audio.loadPercent-audio.currentTime/audio.duration*100))%;">
                        <span>load:((audio.loadPercent))%</span>
                    </div>
                </div>
                <div class="example" class="col-md-1 column">
                    <input type="text" class="js-check-change" />
                    <br/>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="../static/js/libs/slider/powerange.min.js"></script>
        <br/>
        <br/>
    
 
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <span ng-show="audio.playing">Player status: Playing</span>
            <span ng-show="!audio.playing">Player status: Paused</span>
            <br />
            <div class="col-md-2"></div>
            <span ng-click="myprev()" class="glyphicon glyphicon-step-backward"></span>
            <span ng-click="audio.play()" class="glyphicon glyphicon-play" ng-show="!audio.playing"></span>
            <span ng-click="audio.pause()" class="glyphicon glyphicon-pause" ng-show="audio.playing"></span>
            <span ng-click="mynext()" class="glyphicon glyphicon-step-forward"></span>
            <span ng-click="repeat_func()" class="glyphicon glyphicon-arrow-right" ng-show="!repeat"></span>
            <span ng-click="repeat_func()" class="glyphicon glyphicon-repeat" ng-show="repeat"></span>
            <span ng-click="goloop()" class="glyphicon glyphicon-circle-arrow-right" ng-show="!loop"></span>
            <span ng-click="goloop()" class="glyphicon glyphicon-retweet" ng-show="loop"></span>
            <br />
        </div>
    <div class="col-md-12 column"><br/></div>
    <div class="col-md-12 column">
        <button class="btn btn-primary" ng-click="isCollapsed = !isCollapsed">music list - ((person_num))</button>
        <div collapse="isCollapsed">
            <div class="col-md-5 column">
                <div class="col-md-12 column" ng-repeat="music in playlist">
                    <img ng-src="((music.img))" class="img-thumbnail" width="70" height="70">
                    <button ng-click="audio.play(music.id-1+1)" class="btn btn btn-info"><span class="glyphicon glyphicon-headphones"> ((music.songname.split("/")[5].split(".")[0]))</span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 column"><br/></div>
    
    <div class="col-md-12 column">
        <div class="col-md-9 column">
        <accordion>
        <accordion-group is-open="status.open">
        <accordion-heading>Add a song <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
            <div class="col-md-12 column" ng-controller="music_ctrl">
                        <label>choose a music</label>
                        <input type="file" file-model="music_file"/>
                    <div class="col-md-12 column"><br /></div>
                        <label>choose a image</label>
                        <input type="file" file-model="music_img"/>
                    <br />
                    <br />
                    <button class="btn btn-info"><span type="submit" ng-click="uploadFile()" class="glyphicon glyphicon-arrow-up">upload</span></button>
                    <p ng-show='loadinfo' class="bg-danger">((loadinfo))</p>
                    <p ng-show='$root.loadinfo' class="bg-danger">(($root.loadinfo))</p>
            </div>
            </accordion-group>
            </accordion>
        </div>
    </div>
    <br/>
</div>

<!-- need js file:
js/libs/angular/media-player.js
js/libs/bootstrap/bootstrap-slider-jquery-comb.js
js/angular-factory/User.js 
js/angular-factory/Music.js 
js/angular-controller/user_ctrl.js  
js/angular-controller/PlayerController.js 
js/angular-controller/music_ctrl.js  
-->















