<div ng-controller="PlayerController" class="col-md-12 column">
    <audio media-player="audio" data-playlist="playlist"></audio>

    <div ng-controller="user_ctrl" class="col-md-12 column">
        <div class="col-md-2 column">
            <span>change music list via user:</span>
            <select class="form-control" ng-model="owner" ng-change="ownerchange(owner)" ng-options="i.username for i in users"> 
                <option value="">change music list</option>
            </select>
        </div>
    </div>

    <span>image:</span> <img ng-src="((playlist[audio.currentTrack-1].img))" class="img-thumbnail" width="100" height="100">
    <span>song:((playlist[audio.currentTrack-1].src.split("/")[3]))</span>
    <br />current time:((audio.currentTime|MinSecFilter))
    <br/>
    <div class="row col-sm-3 column">
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="height:18px;width:((audio.currentTime/audio.duration*100))%;">
                <span>((audio.currentTime/audio.duration*100|number:0))% </span>
            </div>
            <div class="progress-bar progress-bar-info" style="height:18px;width: ((audio.loadPercent-audio.currentTime/audio.duration*100))%;">
                <span>load:((audio.loadPercent))%</span>
            </div>
        </div>
    </div>
    <br/>
    <br/>
 
    <div>
        <span ng-show="audio.playing">Player status: Playing</span>
        <span ng-show="!audio.playing">Player status: Paused</span>
        <br />
        <button ng-click="myprev()" class="btn btn btn-info">Prev</button>
        <button ng-click="audio.play()" class="btn btn btn-default" ng-show="!audio.playing">Play</button>
        <button ng-click="audio.pause()" class="btn btn btn-info" ng-show="audio.playing">Stop</button>
        <button ng-click="mynext()" class="btn btn btn-info">Next</button>
        <button ng-click="repeat_func()" class="btn btn btn-default" ng-show="!repeat">Repeat Once</button>
        <button ng-click="repeat_func()" class="btn btn btn-info" ng-show="repeat">Cancel Repeat </button>
        <br />
    </div>
    <div class="row">
        <div class="row col-md-3 column">
            <div class="col-md-6 column">
                <span>time(s):</span>
                <input type='number' min='1' class="form-control" placeholder="0" ng-init="value=0" ng-change="audio.seek(value)" ng-model="value"/>
            </div>
            <div class="col-md-5 column">
                <span>volume:</span>
                <input type='number' min='1' max='100' class="form-control" placeholder="100" ng-init="volume=100" ng-change="audio.setVolume(volume/100)" ng-model="volume"/>
            </div>
        </div>
    </div>
    <br/>
    <div class="col-md-6 column">
        <button class="btn btn-primary" ng-click="isCollapsed = !isCollapsed">music list - ((sum_num))</button>
        <div collapse="isCollapsed">
            <div class="col-md-5 column">
                <div class="col-md-12 column" ng-repeat="music in musiclist">
                    <span>image: </span> <img ng-src="((music.img))" class="img-thumbnail" width="70" height="70">
                    <button ng-click="audio.play(music.id-1+1)" class="btn btn btn-default"><span>song:((music.src.split("/")[3]))</span></button>
                </div>
            </div>
        </div>
    </div>

    <br/>
    <br/>


