<div class="row clearfix">
    <div class="col-md-12 column">
        <br />
        <hr />
    </div>
        <div class="col-md-12 column">
            <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#"> test </a>
                </div>
                
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#"> test </a>
                        </li>
                        
                    </ul>
                    
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown">test<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#"> test </a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#"> test </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right" role="search" method="get" action='/filebook/mine/'>
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" name='q' placeholder="Search"/>
                        </div> <button type="submit" class="btn btn btn-primary"><i class="icon-search">search</i></button>
                    </form>
                </div>
                
                </nav>

                <div ng-controller="game_script_ctrl">
                    <ul>
                        <li ng-repeat="i in game_scripts">(( i ))</li>
                    </ul>
                </div>
                <div ng-controller="game_script_ctrl">
                <div ng-repeat="a in gamename_uniq">
                    <button class="btn btn-primary" ng-click="isCollapsed = !isCollapsed">((a))</button>
                    <hr>
                    <div collapse="isCollapsed">
                        <div class="well well-lg">
                            <form role="form">
                                <div class="checkbox">
                                    <label ng-repeat="i in game_scripts|filter:{gamename:((a))}"><input type="checkbox" value="(( i.gamename )), (( i.gamescript )),(( i.access_ip ))" name="get_list"> (( i.gamename )), (( i.gamescript )),(( i.access_ip ))<br /></label>
                                </div>
                                <button type="submit" class="btn btn btn-info">Submit</button>
                            </form>   
                        </div> 
                    </div>
                    <!--
                    <ul >
                        <li ng-repeat="i in users">(( i ))</li>
                    </ul>
                    --!>
                </div>
                    <form ng-submit="newPost()">
                        {% csrf_token %}
                        <label>New User:</label>
                        <input type="text" name="username" id="" value="" ng-model="postData.username"/>
                        <br /><label>password:</label>
                        <input type="password" name="password" id="" value="" ng-model="postData.password"/>
                        <br /><button type="submit" class="btn btn btn-primary">Create</button>
                        
                    </form>
            </div>
        </div>
    </div>
        <div ng-controller="PlayerController">
  <button ng-click="player.play()" class="btn btn btn-default" ng-show="!player.playing">Play</button>
  <button ng-click="player.stop()" class="btn btn btn-info" ng-show="player.playing">Stop</button>
  Playing audio: <b>(( player.playing )) <br />song:(( player.name ))<br />current time:((player.progress|MinSecFilter))</b>
    <h5>today : (( clock |date:'yyyy-MM-dd HH:mm:ss (EEE)'))</h5>
</div>
