<div>
    <div id="lastVal" ng-controller="ShowerCtrl">{{ lastVal }}</div>
    <div id="button-holder" ng-controller="CookieCtrl">
        <button ng-click="bump()">Bump!</button>
    </div>
</div>
<!--
<div id="v-slider" style="height:100px;" class="ui-slider ui-slider-vertical ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><div class="ui-slider-range ui-widget-header ui-slider-range-min" style="height: 20%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="bottom: 20%;"></a></div>

<script type="text/javascript" charset="utf-8">
    // Vertical slider
$(function () {
$("#v-slider").slider({
    orientation: "vertical",
    range: "min",
    min: 0,
    max: 100,
    value: 60,
    slide: function (event, ui) {
        $("#amount").val(ui.value);
    }
});
}
$("#amount").val($("#v-slider").slider("value"));
</script>
-->
