<div class="col-md-12 column" ng-controller="user_ctrl">
    <form ng-submit="UserPost()">
        {% csrf_token %}
        <label>New User:</label>
        <input type="text" name="username" id="" value="" class="form-control" ng-model="UserData.username"/>
        <br /><label>password:</label>
        <input type="password" name="password" id="" value="" class="form-control" ng-model="UserData.password"/>
        <br /><button type="submit" class="btn btn btn-primary">Create</button>
    </form>
</div>

